<div class="kl-slideshow static-content__slideshow uh_light_gray maskcontainer--shadow_ud">
  <div class="bgback">
  </div>

  <!-- Static content wrapper with custom minimum height (500px) = .min-500 -->
  <div class="kl-slideshow-inner static-content__wrapper min-500">
    <!-- Static content source -->
    <div class="static-content__source">
      <!-- Background -->
      <div class="kl-bg-source">
        <!-- Background image -->
        <div class="kl-bg-source__bgimage">
        </div>
        <!-- Background image -->

        <!-- Gradient overlay -->
        <div class="kl-bg-source__overlay">
        </div>
        <!--/ Gradient overlay -->
      </div>
      <!--/ Background -->

      <!-- Animated Sparkles -->
      <div class="th-sparkles"></div>
      <!--/ Animated Sparkles -->
    </div>
    <!--/ .static-content__source -->

    <!-- Static content container -->
    <div class="static-content__inner container">
      <!-- Container with safe padding default top 150px -->
      <div class="kl-slideshow-safepadding sc__container ">
        <!-- Static content wrapper -->
        <div class="static-content default-style">
          <!-- Title -->
          <h1 class="static-content__subtitle text-center ptop-80">
            <span class="fw-thin"><span class="fw-semibold fs-36"><span data-rel="tooltip" data-placement="top" title="" data-animation="true" data-original-title="Lightweight Web Development">Why Lightweight Web Development Is Important For Business Growth?</span></span></span>
          </h1>
          <!--/ Title -->

          <!-- Info pop-up fade animation left aligned with top arrow -->

          <!--/ Info pop-up fade animation left aligned with top arrow -->
        </div>
        <!--/ .static-content -->
      </div>
      <!--/ Container with safe padding default top 150px -->
    </div>
    <!--/ .kl-slideshow-inner__inner -->
  </div>
  <!--/ Static content wrapper with custom minimum height (500px) = .min-500 -->

  <!-- Bottom mask style 2  -->
  <div class="kl-bottommask kl-bottommask--shadow_ud">
  </div>
  <!--/ Bottom mask style 2  -->
</div>


<section class="hg_section ptop-80 pbottom-0">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12">
        <div class="kl-title-block clearfix text-left tbk-symbol--line tbk-icon-pos--after-title">
          <!-- Title -->
          <h3 class="tbk__title montserrat fw-bold fs-28">WHO WE ARE AND WHAT WE DO</h3>
          <!--/ Title -->
          <div class="tbk__symbol ">
            <span></span>
          </div>
          <!-- Sub-Title -->
          <h4 class="tbk__subtitle fw-vthin fs-18 lh-32"><span class="fw-semibold">{{SiteName}} is  your professional source for online innovations.</span> <br /> Do you have an idea for a website or app, but lack the skills to make it happen? At <span class="fw-semibold">{{SiteName}}</span>, we bring your vision to life through a wide range of web development services.</h4>
          <!--/ Sub-Title -->
          <h4 class="tbk__subtitle fw-vthin fs-18 lh-32">We’ve provided clients with the solutions and services to overcome their online challenges. From the initial concept to the final result, we provide personalized attention and guidance throughout the whole process. As an industry-leading Web Development and Testing company, we have the experience and track record to help you succeed in today’s digital age.</h4>

          <li  class="nav-item">
            <a  class="nav-link" routerLink="/blogs">Blog</a>
          </li>
        </div>

      </div>
    </div>
  </div>
</section>
<app-foot-text [FootText]="FooterText"></app-foot-text>
