<div class="kl-slideshow static-content__slideshow uh_light_gray maskcontainer--shadow_ud">
  <div class="bgback">
  </div>

  <!-- Static content wrapper with custom minimum height (500px) = .min-500 -->
  <div class="kl-slideshow-inner static-content__wrapper min-700">
    <!-- Static content source -->
    <div class="static-content__source">
      <!-- Background -->
      <div class="kl-bg-source">
        <!-- Background image -->
        <div class="kl-bg-source__bgimage">
        </div>
        <!-- Background image -->

        <!-- Gradient overlay -->
        <div class="kl-bg-source__overlay">
        </div>
        <!--/ Gradient overlay -->
      </div>
      <!--/ Background -->

      <!-- Animated Sparkles -->
      <div class="th-sparkles"></div>
      <!--/ Animated Sparkles -->
    </div>
    <!--/ .static-content__source -->

    <!-- Static content container -->
    <div class="static-content__inner container">
      <!-- Container with safe padding default top 150px -->
      <div class="kl-slideshow-safepadding sc__container ">
        <!-- Static content wrapper -->
        <div class="static-content default-style">
          <!-- Title -->
          <h1 class="static-content__subtitle text-center ptop-150">
            <span class="fw-thin"><span class="fw-semibold fs-36"><span data-rel="tooltip" data-placement="top" title="" data-animation="true" data-original-title="About Us">A BIT ABOUT US</span></span></span>
          </h1>
          <!--/ Title -->

          <!-- Info pop-up fade animation left aligned with top arrow -->

          <!--/ Info pop-up fade animation left aligned with top arrow -->
        </div>
        <!--/ .static-content -->
      </div>
      <!--/ Container with safe padding default top 150px -->
    </div>
    <!--/ .kl-slideshow-inner__inner -->
  </div>
  <!--/ Static content wrapper with custom minimum height (500px) = .min-500 -->

  <!-- Bottom mask style 2  -->
  <div class="kl-bottommask kl-bottommask--shadow_ud">
  </div>
  <!--/ Bottom mask style 2  -->
</div>


<section class="hg_section ptop-80 pbottom-0">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12">
        <div class="kl-title-block clearfix text-left tbk-symbol--line tbk-icon-pos--after-title">
          <!-- Title -->
          <h3 class="tbk__title montserrat fw-bold fs-28">WHO WE ARE AND WHAT WE DO</h3>
          <!--/ Title -->
          <div class="tbk__symbol ">
            <span></span>
          </div>
          <!-- Sub-Title -->
          <h4 class="tbk__subtitle fw-vthin fs-18 lh-32"><span class="fw-semibold">{{SiteName}} is  your professional source for online innovations.</span> <br /> Do you have an idea for a website or app, but lack the skills to make it happen? At <span class="fw-semibold">{{SiteName}}</span>, we bring your vision to life through a wide range of web development services.</h4>
          <!--/ Sub-Title -->
          <h4 class="tbk__subtitle fw-vthin fs-18 lh-32">We’ve provided clients with the solutions and services to overcome their online challenges. From the initial concept to the final result, we provide personalized attention and guidance throughout the whole process. As an industry-leading Web Development and Testing company, we have the experience and track record to help you succeed in today’s digital age.</h4>
        </div>

      </div>
    </div>
  </div>
</section>
<section class="hg_section bg-black-gray ptop-60 pbottom-0 text-white">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12">
        <div class="kl-title-block clearfix text-left tbk-symbol--line tbk-icon-pos--after-title">
          <!-- Title -->
          <h3 class="tbk__title montserrat fw-bold fs-28">OUR VISION</h3>
          <!--/ Title -->
          <div class="tbk__symbol ">
            <span></span>
          </div>
          <!-- Sub-Title -->
          <h4 class="tbk__subtitle fw-vthin fs-14 lh-32"> We always strive to deliver state-of-the-art web solutions that bring the vision of our clients to life.
            We aimed at making our clients’ day-to-day business easier and run more efficiently. Businesses who are looking for the solutions that would help in their business growth, after a very collaborative and inclusive process, we develop the solutions they were over the moon for.</h4>
          <!--/ Sub-Title -->
        </div>

      </div>
    </div>
  </div>
</section>
<section class="hg_section bg-lightgray2 bg ptop-60 pbottom-0">
  <div class="container">
    <div class="row">

      <div class="col-md-6 col-sm-6">
        <div class="row">
          <div class="col-md-6 col-sm-6">
            <!-- Icon box float left -->
            <div class="kl-iconbox kl-iconbox--align-left text-left kl-iconbox--theme-default">
              <div class="kl-iconbox__inner">
                <div class="kl-iconbox__icon-wrapper ">
                  <!-- Icon -->
                  <img class="kl-iconbox__icon" src="../../assets/images/ib-ico-12.svg" alt="WEB DESIGN SERVICES">
                  <!--/ Icon -->
                </div>
                <!--/ .kl-iconbox__icon-wrapper -->

                <!-- content -->
                <div class="kl-iconbox__content-wrapper">
                  <!-- Title -->
                  <div class="kl-iconbox__el-wrapper kl-iconbox__title-wrapper">
                    <h3 class="kl-iconbox__title">CODING</h3>
                  </div>
                  <!--/ Title -->

                  <!-- Description -->
                  <div class=" kl-iconbox__el-wrapper kl-iconbox__desc-wrapper">
                    <p class="kl-iconbox__desc">
                      Since the early days of Bitpulse Technologies, we’ve had a strong commitment to Coding. This skill is indispensable when it comes to leaving a lasting impression on a client, and ensuring their final product both looks and works great. With our Coding services and experience, we’re always working to ensure our clients’ needs get the attention they deserve.
                    </p>
                  </div>
                  <!--/ Description -->
                </div>
                <!--/ .kl-iconbox__content-wrapper -->
              </div>
              <!--/ .kl-iconbox__inner -->
            </div>
            <!--/ Icon box float left -->
          </div>
          <!--/ col-md-6 col-sm-6 -->

          <div class="col-md-6 col-sm-6">
            <!-- Icon box float left -->
            <div class="kl-iconbox kl-iconbox--align-left text-left kl-iconbox--theme-default">
              <div class="kl-iconbox__inner">
                <div class="kl-iconbox__icon-wrapper">
                  <!-- Icon -->
                  <img class="kl-iconbox__icon" src="../../assets/images/ib-ico-21.svg" alt="GRAPHIC DESIGN">
                  <!--/ Icon -->
                </div>
                <!--/ .kl-iconbox__icon-wrapper -->

                <!-- content -->
                <div class="kl-iconbox__content-wrapper">
                  <!-- Title -->
                  <div class="kl-iconbox__el-wrapper kl-iconbox__title-wrapper">
                    <h3 class="kl-iconbox__title">TESTING</h3>
                  </div>
                  <!--/ Title -->

                  <!-- Description -->
                  <div class="kl-iconbox__el-wrapper kl-iconbox__desc-wrapper">
                    <p class="kl-iconbox__desc">
                      We are focused to produce an outcome with a trust of security that wouldn’t compromise with the user data. The team had to dig deep into their prior experiences of providing secured web solutions, and we’re proud to say that the final product turned out sensationally.
                    </p>
                  </div>
                  <!--/ Description -->
                </div>
                <!--/ .kl-iconbox__content-wrapper -->
              </div>
              <!--/ kl-iconbox__inner -->
            </div>
            <!--/ Icon box float left -->
          </div>
          <!--/ col-md-6 col-sm-6 -->
        </div>
        <!--/ row -->

        <div class="row">
          <div class="col-md-6 col-sm-6">
            <!-- Icon box float left -->
            <div class="kl-iconbox kl-iconbox--align-left text-left kl-iconbox--theme-default ">
              <div class="kl-iconbox__inner">
                <div class="kl-iconbox__icon-wrapper ">
                  <!-- Icon -->
                  <img class="kl-iconbox__icon" src="../../assets/images/ib-ico-4.svg" alt="SEO SERVICES">
                  <!--/ Icon -->
                </div>
                <!--/ .kl-iconbox__icon-wrapper -->

                <!-- content -->
                <div class="kl-iconbox__content-wrapper">
                  <!-- Title -->
                  <div class="kl-iconbox__el-wrapper kl-iconbox__title-wrapper">
                    <h3 class="kl-iconbox__title">DIGITAL MARKETING</h3>
                  </div>
                  <!--/ Title -->

                  <!-- Description -->
                  <div class="kl-iconbox__el-wrapper kl-iconbox__desc-wrapper">
                    <p class="kl-iconbox__desc">
                      In this Era of digital world, we're not only determined for providing web solutions but also we ensure its growth by marketing it digitally.
                    </p>
                  </div>
                  <!--/ Description -->
                </div>
                <!--/ .kl-iconbox__content-wrapper -->
              </div>
              <!--/ .kl-iconbox__inner -->
            </div>
            <!--/ Icon box float left -->
          </div>
          <div class="col-md-6 col-sm-6">
            <!-- Icon box float left -->
            <div class="kl-iconbox kl-iconbox--align-left text-left kl-iconbox--theme-default ">
              <div class="kl-iconbox__inner">
                <div class="kl-iconbox__icon-wrapper">
                  <!-- Icon -->
                  <img class="kl-iconbox__icon" src="../../assets/images/ib-ico-5.svg" alt="MARKETING">
                  <!--/ Icon -->
                </div>
                <!--/ .kl-iconbox__icon-wrapper -->

                <!-- content -->
                <div class="kl-iconbox__content-wrapper">
                  <!-- Title -->
                  <div class="kl-iconbox__el-wrapper kl-iconbox__title-wrapper">
                    <h3 class="kl-iconbox__title">USER EXPERIENCE</h3>
                  </div>
                  <!--/ Title -->

                  <!-- Description -->
                  <div class=" kl-iconbox__el-wrapper kl-iconbox__desc-wrapper">
                    <p class="kl-iconbox__desc">
                      At Bitpulse Technologies, we understand how important it is to create a meaningful and lasting connection with users on the web. From the initial design concept to the final outcome, we work diligently towards bringing your vision to life in the most professional manner.
                    </p>
                  </div>
                  <!--/ Description -->
                </div>
                <!--/ .kl-iconbox__content-wrapper -->
              </div>
              <!--/ .kl-iconbox__inner -->
            </div>
            <!--/ Icon box float left -->
          </div>
        </div>
        <!--/ row -->
      </div>
      <!--/ col-md-6 col-sm-6 -->

      <div class="col-md-6 col-sm-6">
        <!-- spacer -->
        <div class="th-spacer clearfix">
        </div>
        <!--/ spacer -->

        <!-- Skills Diagram -->
        <div id="skills_diagram_el" class="kl-skills-diagram">
          <div class="kl-skills-legend legend-topright">
            <h4>LEGEND</h4>
            <ul class="kl-skills-list">
              <li data-percent="80" class="lisec1">App Development</li>
              <li data-percent="90" class="lisec2">Web Development</li>
              <li data-percent="77" class="lisec3">Testing</li>
              <li data-percent="64" class="lisec4">Web Design</li>
              <li data-percent="65" class="lisec5">Digital Marketing </li>
            </ul>
          </div>
          <div class="skills-responsive-diagram">
            <div id="thediagram" class="kl-diagram" data-width="600" data-height="600" data-maincolor="#193340" data-maintext="Skills" data-fontsize="20px Arial" data-textcolor="#ffffff"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<app-foot-text [FootText]="FooterText"></app-foot-text>