.kl-bg-source__bgimage {
    background-image: url(../../assets/images/about-us.jpg);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position-x: center;
    background-position-y: center;
    background-size: cover;
}

.kl-bg-source__overlay {
    background: rgba(30, 115, 190, 0.3);
    background: -moz-linear-gradient(left, rgba(30, 115, 190, 0.3) 0%, rgba(53, 53, 53, 0.3) 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(30, 115, 190, 0.3)), color-stop(100%, rgba(53, 53, 53, 0.3)));
    background: -webkit-linear-gradient(left, rgba(30, 115, 190, 0.3) 0%, rgba(53, 53, 53, 0.3) 100%);
    background: -o-linear-gradient(left, rgba(30, 115, 190, 0.3) 0%, rgba(53, 53, 53, 0.3) 100%);
    background: -ms-linear-gradient(left, rgba(30, 115, 190, 0.3) 0%, rgba(53, 53, 53, 0.3) 100%);
    background: linear-gradient(to right, rgba(30, 115, 190, 0.3) 0%, rgba(53, 53, 53, 0.3) 100%);
}
.th-spacer{height: 60px;}
.lisec1{background-color:#97be0d;}
.lisec2{background-color:#d84f5f;}
.lisec3{background-color:#6eabe5;}
.lisec4{background-color:#8dc9e8;}
.lisec5{background-color:#bdc3c7;}