<!-- Support Panel -->
<input type="checkbox" id="support_p" class="panel-checkbox">
<div class="support_panel">
  <div class="support-close-inner">
    <label for="support_p" class="spanel-label inner">
      <span class="support-panel-close">×</span>
    </label>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-sm-9">
        <!-- Content - how to shop steps -->
        <div class="m_content how_to_shop">
          <p>Have a query or want to know more about our services and upcoming features? <a routerLink="/contact-us">Send Us Email</a> . Thank you!</p>
        </div>
        <!--/ Content - how to shop steps -->
      </div>
      <!--/ col-sm-9 -->

      <div class="col-sm-3">
        <!-- Title -->
        <h4 class="m_title">MEETING HOURS</h4>

        <!-- Content -->
        <div class="m_content">
          Mon-Fri 10:00AM - 7:00PM<br>
          Sat - 10:00AM - 5:00PM<br>
          Sundays by appointment only!
        </div>
        <!--/ Content -->
      </div>
      <!--/ col-sm-3 -->
    </div>
    <!--/ row -->
  </div>
  <!--/ container -->
</div>
<!--/ Support Panel -->


<!-- Page Wrapper -->
<div id="page_wrapper">
  <!-- Header style 1 -->
  <header id="header" class="site-header style1 cta_button">
    <!-- header bg -->
    <div class="kl-header-bg"></div>
    <!--/ header bg -->

    <!-- siteheader-container -->
    <div class="container siteheader-container">
      <!-- top-header -->
      <div class="kl-top-header clearfix">
        <!-- HEADER ACTION -->
        <div class="header-links-container ">
          <ul class="topnav navRight topnav">
            <!-- Login trigger -->
            <li>
              <label for="support_p" class="spanel-label">
                <i class="glyphicon glyphicon-info-sign icon-white support-info visible-xs xs-icon"></i>
                <span class="hidden-xs">QUICK INFO</span>
              </label>
            </li>
            <!--/ Login trigger -->
          </ul>


        </div>
        <!--/ HEADER ACTION -->

        <!-- HEADER ACTION left -->
        <div class="header-leftside-container ">
          <ul class="social-icons sc--clean topnav navRight">
            <li><a href="https://www.facebook.com/bitpulsetechnologies/" target="_blank" class="icon-facebook" rel="noreferrer"  title="Facebook"></a></li>
            <li><a href="https://twitter.com/BitpulseTech" target="_blank" rel="noreferrer"  class="icon-twitter" title="Twitter"></a></li>
            <li><a href="https://www.linkedin.com/company/bitpulse-technologies" target="_blank" class="icon-linkedin" rel="noreferrer"  title="LinkedIn"></a></li>
            <li><a href="https://www.youtube.com/watch?v=zW85PDlOxeU" target="_blank" class="icon-youtube" rel="noreferrer"  title="YouTube"></a></li>
            <li><a href="https://medium.com/@bitpulsetech" target="_blank" rel="noreferrer" title="Medium"><img class="mt-5" src="../assets/images/medium.png" alt="Medium" title="Medium" /> </a></li>
          </ul>
          <!--/ Header Social links -->

          <div class="clearfix visible-xxs">
          </div>

          <!-- header contact text -->
          <span class="kl-header-toptext">QUESTIONS? CALL: <a [attr.href]="'tel:'+contactNumber1" class="fw-bold">{{contactNumberFormated1}}</a>,
                            <a [attr.href]="'tel:'+contactNumber2" class="fw-bold">{{contactNumberFormated2}}</a></span>
          <span class="kl-header-toptext"><a class="quote-head" routerLink="/request-quote">REQUEST A QUOTE</a></span>

        </div>
        <!--/ HEADER ACTION left -->
      </div>
      <!--/ top-header -->

      <!-- separator -->
      <div class="separator"></div>
      <!--/ separator -->

      <!-- left side -->
      <!-- logo container-->
      <div class="logo-container hasInfoCard logosize--yes">
        <!-- Logo -->
        <div class="site-logo logo main-logo" id="logo">
          <a routerLink="/" [title]="SiteName">
            <img src="../assets/images/Bitpulse-Logo.png" class="logo-img" [alt]="SiteName" [title]="SiteName" />
          </a>
        </div>
        <!--/ Logo -->

        <!-- InfoCard -->
        <div id="infocard" class="logo-infocard">
          <div class="custom">
            <div class="row">
              <div class="col-sm-5">
                <p class="text-center">
                  <img src="../assets/images/Short-Logo.png" class="" [alt]="SiteName" [title]="SiteName" />
                </p>
              </div>
              <!--/ col-sm-5 -->

              <div class="col-sm-7">
                <div class="custom contact-details">
                  <p class="mb-0"><strong><span class="glyphicon glyphicon-earphone icon-white xs-icon"></span>&nbsp; <a [attr.href]="'tel:'+contactNumber1">{{contactNumberFormated1}}</a></strong></p>
                  <p class="mb-0"><strong><span class="glyphicon glyphicon-earphone icon-white xs-icon"></span>&nbsp; <a [attr.href]="'tel:'+contactNumber2">{{contactNumberFormated2}}</a></strong></p>
                  <p><strong><span class="glyphicon glyphicon-envelope icon-white xs-icon"></span>&nbsp; <a routerLink="/contact-us">Send Us Email</a></strong>
                  </p>
                  <p>{{SiteName}}<br />
                    119/49 Nasimabad, R K Nagar,<br />
                    Darshan Purwa, Kanpur - 208012 (U.P.)</p>
                  <a
                          [attr.href]="'https://goo.gl/maps/4Zcv49x96AMVfMRbA'"
                          rel="noreferrer"
                          class="map-link"
                          target="_blank"
                          title="Location on map">
                    <span class="glyphicon glyphicon-map-marker icon-white"></span>
                    &nbsp;<span>Open in Google Maps</span>
                  </a>
                </div>
                <div style="height:20px;">
                </div>
                <!-- Social links clean style -->
                <ul class="social-icons sc--clean">
                  <li><a href="https://www.facebook.com/bitpulsetechnologies/" target="_blank" class="icon-facebook" rel="noreferrer" title="Facebook"></a></li>
                  <li><a href="https://twitter.com/BitpulseTech" target="_blank" rel="noreferrer" class="icon-twitter" title="Twitter"></a></li>
                  <li><a href="https://www.linkedin.com/company/bitpulse-technologies" target="_blank" class="icon-linkedin" rel="noreferrer" title="LinkedIn"></a></li>
                  <li><a href="https://www.youtube.com/watch?v=zW85PDlOxeU" target="_blank" class="icon-youtube"rel="noreferrer"  title="YouTube"></a></li>
                  <li><a href="https://medium.com/@bitpulsetech" target="_blank" class="fa-icon-medium"rel="noreferrer"  title="Medium"></a></li>
                </ul>
                <!--/ Social links clean style -->
              </div>
              <!--/ col-sm-7 -->
            </div>
            <!--/ row -->
          </div>
          <!--/ custom -->
        </div>
        <!--/ InfoCard -->

      </div>
      <!--/ logo container-->

      <!-- separator -->
      <div class="separator visible-xxs"></div>
      <!--/ separator -->
      <!-- responsive menu trigger -->
      <div id="zn-res-menuwrapper">
        <a href="#" class="zn-res-trigger zn-header-icon"></a>
      </div>
      <!--/ responsive menu trigger -->

      <!-- main menu -->
      <div id="main-menu" class="main-nav zn_mega_wrapper ">
        <ul id="menu-main-menu" class="main-menu zn_mega_menu">
          <li class="menu" [routerLinkActiveOptions]="{ exact: true }" routerLinkActive="active"><a title="Bitpulse Technologies" routerLink="/">Home</a></li>
          <li class="menu" [routerLinkActiveOptions]="{ exact: true }" routerLinkActive="active"><a title="About Us" routerLink="/hybrid-app-development-company">About Us</a></li>
          <li class="menu" [routerLinkActiveOptions]="{ exact: true }" routerLinkActive="active"><a title="Our Services" routerLink="/best-web-development-company">Our Services</a></li>
          <li class="menu" [routerLinkActiveOptions]="{ exact: true }" routerLinkActive="active"><a title="Work Process" routerLink="/web-development-testing-company">Work Process</a></li>
          <li class="menu" [routerLinkActiveOptions]="{ exact: true }" routerLinkActive="active"><a title="Contact Us" routerLink="/contact-us">Contact Us</a></li>
          <li class="menu" routerLinkActive="active"><a title="Blogs" routerLink="/blogs">Blogs</a></li>
        </ul>
      </div>
      <!--/ main menu -->
    </div>
    <!--/ siteheader-container -->
  </header>
  <!-- / Header style 1 -->

<router-outlet></router-outlet>

</div>
<!--/ Page Wrapper -->