<div class="kl-slideshow static-content__slideshow uh_light_gray maskcontainer--shadow_ud">
  <div class="bgback">
  </div>

  <!-- Static content wrapper with custom minimum height (500px) = .min-500 -->
  <div class="kl-slideshow-inner static-content__wrapper min-700">
    <!-- Static content source -->
    <div class="static-content__source">
      <!-- Background -->
      <div class="kl-bg-source">
        <!-- Background image -->
        <div class="kl-bg-source__bgimage">
        </div>
        <!-- Background image -->

        <!-- Gradient overlay -->
        <div class="kl-bg-source__overlay">
        </div>
        <!--/ Gradient overlay -->
      </div>
      <!--/ Background -->

      <!-- Animated Sparkles -->
      <div class="th-sparkles"></div>
      <!--/ Animated Sparkles -->
    </div>
    <!--/ .static-content__source -->

    <!-- Static content container -->
    <div class="static-content__inner container">
      <!-- Container with safe padding default top 150px -->
      <div class="kl-slideshow-safepadding sc__container ">
        <!-- Static content wrapper -->
        <div class="static-content default-style">
          <!-- Title -->
          <h1 class="static-content__subtitle text-center ptop-150">
            <span class="fw-thin"><span class="fw-semibold fs-36"><span data-rel="tooltip" data-placement="top" title="" data-animation="true" data-original-title="Our Services">Bitpulse Services</span></span></span>
          </h1>
          <!--/ Title -->

          <!-- Info pop-up fade animation left aligned with top arrow -->

          <!--/ Info pop-up fade animation left aligned with top arrow -->
        </div>
        <!--/ .static-content -->
      </div>
      <!--/ Container with safe padding default top 150px -->
    </div>
    <!--/ .kl-slideshow-inner__inner -->
  </div>
  <!--/ Static content wrapper with custom minimum height (500px) = .min-500 -->

  <!-- Bottom mask style 2  -->
  <div class="kl-bottommask kl-bottommask--shadow_ud">
  </div>
  <!--/ Bottom mask style 2  -->
</div>


<section class="hg_section ptop-80 pbottom-0">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12">
        <div class="kl-title-block clearfix text-left tbk-symbol--line tbk-icon-pos--after-title">
          <!-- Title -->
          <h3 class="tbk__title montserrat fw-bold fs-28">OUR SERVICES</h3>
          <!--/ Title -->
          <div class="tbk__symbol ">
            <span></span>
          </div>
          <!-- Sub-Title -->
          <h4 class="tbk__subtitle fs-30 light-gray fw-thin"><span class="fw-semibold">Bitpulse Technologies</span> is committed to offer a full range of services to ensure the growth of your online business.</h4>
        </div>

      </div>
    </div>
  </div>
</section>
<section class="hg_section">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-sm-4">
        <!-- Services box element modern style -->
        <div class="services_box services_box--modern sb--hasicon">
          <!-- Service box wrapper -->
          <div class="services_box__inner clearfix">
            <!-- Icon content -->
            <div class="services_box__icon">
              <!-- Icon wrapper -->
              <div class="services_box__icon-inner">
                <!-- Icon = .icon-noun_65754  -->
                <span class="services_box__fonticon icon-noun_65754"></span>
              </div>
              <!--/ Icon wrapper -->
            </div>
            <!--/ Icon content -->

            <!-- Content -->
            <div class="services_box__content">
              <!-- Title -->
              <h4 class="services_box__title">Web Development</h4>
              <!--/ Title -->

              <!-- Description -->
              <div class="services_box__desc">
                <p>
                  We are here to provide all kind of web solutions that make your imagination real and grow your business.
                </p>
              </div>
              <!--/ Description -->

              <!-- List wrapper -->
              <div class="services_box__list-wrapper">
                <span class="services_box__list-bg"></span>
                <!-- List -->
                <ul class="services_box__list">
                  <li><span class="services_box__list-text">Content management systems </span></li>
                  <li><span class="services_box__list-text">Virtual shops and e-commerce </span></li>
                  <li><span class="services_box__list-text">Presentation websites </span></li>
                  <li><span class="services_box__list-text">Online catalogues </span></li>
                  <li><span class="services_box__list-text">Portal systems </span></li>
                  <li><span class="services_box__list-text">&amp; any other dynamic website </span></li>
                </ul>
                <!--/ List -->
              </div>
              <!--/ List wrapper -->
            </div>
            <!--/ Content -->
          </div>
          <!--/ Service box wrapper -->
        </div>
        <!--/ Services box element modern style -->
      </div>
      <!--/ col-md-4 col-sm-4 -->

      <div class="col-md-4 col-sm-4">
        <!-- Services box element modern style -->
        <div class="services_box services_box--modern sb--hasicon">
          <!-- Service box wrapper -->
          <div class="services_box__inner clearfix">
            <!-- Icon content -->
            <div class="services_box__icon">
              <!-- Icon wrapper -->
              <div class="services_box__icon-inner">
                <!-- Icon = .icon-process2  -->
                <span class="services_box__fonticon icon-process2"></span>
              </div>
              <!--/ Icon wrapper -->
            </div>
            <!--/ Icon content -->

            <!-- Content -->
            <div class="services_box__content">
              <!-- Title -->
              <h4 class="services_box__title">App Development</h4>
              <!--/ Title -->

              <!-- Description -->
              <div class="services_box__desc">
                <p>
                  We develop the mobile apps for all major platforms with such a code base that can also be synced with the website data.
                </p>
              </div>
              <!--/ Description -->

              <!-- List wrapper -->
              <div class="services_box__list-wrapper">
                <span class="services_box__list-bg"></span>
                <!-- List -->
                <ul class="services_box__list">
                  <li><span class="services_box__list-text">Android</span></li>
                  <li><span class="services_box__list-text">iOS</span></li>
                  <li><span class="services_box__list-text">Windows</span></li>
                  <li><span class="services_box__list-text">Synced with web</span></li>
                  <li><span class="services_box__list-text">Hybrid Apps</span></li>
                </ul>
                <!--/ List -->
              </div>
              <!--/ List wrapper -->
            </div>
            <!--/ Content -->
          </div>
          <!--/ Service box wrapper -->
        </div>
        <!--/ Services box element modern style -->
      </div>
      <!--/ col-md-4 col-sm-4 -->

      <div class="col-md-4 col-sm-4">
        <!-- Services box element modern style -->
        <div class="services_box services_box--modern sb--hasicon">
          <!-- Service box wrapper -->
          <div class="services_box__inner clearfix">
            <!-- Icon content -->
            <div class="services_box__icon">
              <!-- Icon wrapper -->
              <div class="services_box__icon-inner">
                <!-- Icon = .icon-process3  -->
                <span class="services_box__fonticon icon-process3"></span>
              </div>
              <!--/ Icon wrapper -->
            </div>
            <!--/ Icon content -->

            <!-- Content -->
            <div class="services_box__content">
              <!-- Title -->
              <h4 class="services_box__title">Testing</h4>
              <!--/ Title -->

              <!-- Description -->
              <div class="services_box__desc">
                <p>
                  We always ensure that our web solutions would never be compromised with the functionality and data security.
                </p>
              </div>
              <!--/ Description -->

              <!-- List wrapper -->
              <div class="services_box__list-wrapper">
                <span class="services_box__list-bg"></span>
                <!-- List -->
                <ul class="services_box__list">
                  <li><span class="services_box__list-text">Functional</span></li>
                  <li><span class="services_box__list-text">Mobile</span></li>
                  <li><span class="services_box__list-text">Security</span></li>
                  <li><span class="services_box__list-text">Accessibility</span></li>
                </ul>
                <!--/ List -->
              </div>
              <!--/ List wrapper -->
            </div>
            <!--/ Content -->
          </div>
          <!--/ Service box wrapper -->
        </div>
        <!--/ Services box element modern style -->
      </div>
      <!--/ col-md-4 col-sm-4 -->
    </div>
    <!--/ row -->
  </div>
  <!--/ container -->
</section>
<section class="hg_section">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-sm-4">
        <!-- Services box element boxed style -->
        <div class="services_box services_box--boxed sb--hasicon">
          <!-- Service box wrapper -->
          <div class="services_box__inner clearfix">
            <!-- Icon content -->
            <div class="services_box__icon">
              <!-- Icon wrapper -->
              <div class="services_box__icon-inner">
                <!-- Icon = .icon-noun_65754 -->
                <span class="services_box__fonticon kl-icon kl-iconbox__icon icon-gi-ico-7"></span>
              </div>
              <!--/ Icon wrapper -->
            </div>
            <!--/ Icon content -->

            <!-- Content -->
            <div class="services_box__content">
              <!-- Title -->
              <h4 class="services_box__title">Digital Marketing</h4>
              <!--/ Title -->

              <!-- Description -->
              <div class="services_box__desc">
                <p>
                  We helps you to be on top of the competition. Our solutions are simple, transparent and according to your specific requirements.
                </p>
              </div>
              <!--/ Description -->

              <!-- List wrapper -->
              <div class="services_box__list-wrapper">
                <span class="services_box__list-bg"></span>
                <!-- List with custom padding top-->
                <ul class="services_box__list">
                  <li><span class="services_box__list-text">Search engine optimisation</span></li>
                  <li><span class="services_box__list-text">Search engine marketing</span></li>
                  <li><span class="services_box__list-text">Internet advertising</span></li>
                  <li><span class="services_box__list-text">Web analysis</span></li>
                  <li><span class="services_box__list-text">Blog marketing</span></li>
                </ul>
                <!--/ List with custom padding top-->
              </div>
              <!--/ List wrapper -->
            </div>
            <!--/ Content -->
          </div>
          <!--/ Service box wrapper -->
        </div>
        <!--/ Services box element boxed style -->
      </div>
      <!--/ col-md-4 col-sm-4 -->

      <div class="col-md-4 col-sm-4">
        <!-- Services box element boxed style -->
        <div class="services_box services_box--boxed sb--hasicon">
          <!-- Service box wrapper -->
          <div class="services_box__inner clearfix">
            <!-- Icon content -->
            <div class="services_box__icon">
              <!-- Icon wrapper -->
              <div class="services_box__icon-inner">
                <!-- Icon = .icon-process2 -->
                <span class="services_box__fonticon kl-icon kl-iconbox__icon icon-gi-ico-14"></span>
              </div>
              <!--/ Icon wrapper -->
            </div>
            <!--/ Icon content -->

            <!-- Content -->
            <div class="services_box__content">
              <!-- Title -->
              <h4 class="services_box__title">Graphic Design</h4>
              <!--/ Title -->

              <!-- Description -->
              <div class="services_box__desc">
                <p>
                  Our Graphic Design services are available and customizable to suit whatever your needs may be, helping to place your online platform ahead.
                </p>
              </div>
              <!--/ Description -->

              <!-- List wrapper -->
              <div class="services_box__list-wrapper">
                <span class="services_box__list-bg"></span>
                <!-- List with custom padding top-->
                <ul class="services_box__list">
                  <li><span class="services_box__list-text">Logo design </span></li>
                  <li><span class="services_box__list-text">Website Templates</span></li>
                  <li><span class="services_box__list-text">Powerpoint presentation</span></li>
                  <li><span class="services_box__list-text">Banners</span></li>
                </ul>
                <!--/ List with custom padding top-->
              </div>
              <!--/ List wrapper -->
            </div>
            <!--/ Content -->
          </div>
          <!--/ Service box wrapper -->
        </div>
        <!--/ Services box element boxed style -->
      </div>
      <!--/ col-md-4 col-sm-4 -->

      <div class="col-md-4 col-sm-4">
        <!-- Services box element boxed style -->
        <div class="services_box services_box--boxed sb--hasicon">
          <!-- Service box wrapper -->
          <div class="services_box__inner clearfix">
            <!-- Icon content -->
            <div class="services_box__icon">
              <!-- Icon wrapper -->
              <div class="services_box__icon-inner">
                <!-- Icon = .icon-process3 -->
                <span class="services_box__fonticon kl-icon kl-iconbox__icon icon-gi-ico-4"></span>
              </div>
              <!--/ Icon wrapper -->
            </div>
            <!--/ Icon content -->

            <!-- Content -->
            <div class="services_box__content">
              <!-- Title -->
              <h4 class="services_box__title">Customer Support</h4>
              <!--/ Title -->

              <!-- Description -->
              <div class="services_box__desc">
                <p>
                  We're are always available to solve our customers problems and doubts with our 24/7 premium customer support.
                </p>
              </div>
              <!--/ Description -->

              <!-- List wrapper -->
              <div class="services_box__list-wrapper">
                <span class="services_box__list-bg"></span>
                <!-- List with custom padding top-->
                <ul class="services_box__list">
                  <li><span class="services_box__list-text">Call Support</span></li>
                  <li><span class="services_box__list-text">Chat Support </span></li>
                  <li><span class="services_box__list-text">Knowledge Base </span></li>
                </ul>
                <!--/ List with custom padding top-->
              </div>
              <!--/ List wrapper -->
            </div>
            <!--/ Content -->
          </div>
          <!--/ Service box wrapper -->
        </div>
        <!--/ Services box element boxed style -->
      </div>
      <!--/ col-md-4 col-sm-4 -->
    </div>
    <!--/ row -->
  </div>
  <!--/ container -->
</section>
<app-foot-text [FootText]="FooterText"></app-foot-text>