<div class="kl-slideshow static-content__slideshow uh_light_gray maskcontainer--mask7 scrollme">
  <div class="bgback">
  </div>

  <!-- Static content wrapper with default height (not fullscreen) -->
  <div class="kl-slideshow-inner static-content__wrapper static-content--height">
    <!-- Static content background with animateme scroll efect -->
    <div class="static-content__source animateme" data-when="span" data-from="0" data-to="0.75" data-easing="linear" data-translatey="300" data-opacity="0.1">
      <!-- Background -->
      <div id="first-header" class="kl-bg-source">
        <!-- Video background container -->
        <div class="kl-video-container kl-bg-source__video">
          <!-- Video wrapper -->
          <div class="kl-video-wrapper video-grid-overlay">
            <!-- Self Hosted Video Source -->
            <div class="kl-video valign halign" data-setup='{
									"position": "absolute",
									"loop": true,
									"autoplay": true,
									"muted": true,
									"mp4": "../../assets/videos/headvideo.mp4",
									"poster": "../../assets/videos/headvideo.jpg",
									"video_ratio": "1.7778" }'>
            </div>
            <!-- Self Hosted Video Source -->

            <!-- Video controls - bottom right aligned -->
            <ul class="kl-video--controls" data-position="bottom-right">
              <li><a href="#" class="btn-toggleplay"><i class="kl-icon glyphicon glyphicon-play circled-icon"></i></a></li>
              <li><a href="#" class="btn-audio"><i class="kl-icon glyphicon glyphicon-volume-up circled-icon ci-xsmall mute"></i></a></li>
            </ul>
            <!--/ Video controls -->
          </div>
          <!--/ Video wrapper -->
        </div>
        <!--/ Video background container (.kl-bg-source__video) -->

        <!-- Gradient overlay -->
        <div class="kl-bg-source__overlay first-sec">
        </div>
        <!--/ Gradient overlay -->
      </div>
      <!--/ Background -->

      <!-- Animated Sparkles -->
      <div class="th-sparkles"></div>
      <!--/ Animated Sparkles -->
    </div>
    <!--/ Static content background with animateme scroll efect -->

    <!-- Static content container -->
    <div class="static-content__inner container">
      <!-- Container with animateme effect and safe padding default top 150px -->
      <div class="kl-slideshow-safepadding sc__container animateme" data-when="span" data-from="0" data-to="0.75" data-translatey="200" data-opacity="0.1" data-easing="linear">
        <!-- Default style -->
        <div class="static-content default-style">
          <!-- Title -->
          <h2 class="static-content__title text-center">WE'RE CRAFTING</h2>

          <!-- Text play -->
          <div id="textplay" class="textplay-wrapper mb-70 mb-40-xs mt-50">
            <div class="textplay-line">
              <span class="textplay-word">awesome</span>
              <span class="textplay-sep">/</span>
              <span class="textplay-word">functional</span>
              <span class="textplay-sep">/</span>
              <span class="textplay-word">cutting edge</span>
            </div>
            <div class="textplay-line">
              <span class="textplay-word">websites</span>
              <span class="textplay-sep">/</span>
              <span class="textplay-word">apps</span>
            </div>
            <div class="textplay-line">
              <span class="textplay-word">with passion</span>
              <span class="textplay-sep">/</span>
              <span class="textplay-word">for fun</span>
              <span class="textplay-sep">/</span>
              <span class="textplay-word">that work.</span>
            </div>

          </div>
          <!--/ Text play -->
        </div>
        <!--/ .default-style -->
      </div>
      <!--/ Container with animateme effect and safe padding default top 150px -->
    </div>
    <!--/ Static content container -->
  </div>
  <!--/ Static content wrapper with default height -->

  <!-- Bottom mask style 7 -->
  <div class="kl-bottommask kl-bottommask--mask7">
    <svg width="767px" height="60px" class="kl-bottommask--mask7 screffect opacity3" viewBox="0 0 767 60" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="none">
      <polygon fill="#000" points="767 0 767 60 0 60 "></polygon>
    </svg>
    <svg width="767px" height="50px" class="kl-bottommask--mask7 mask-over" viewBox="0 0 767 50" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="none">
      <polygon fill="#f5f5f5" points="767 0 767 50 0 50 "></polygon>
    </svg>
  </div>
  <!--/ Bottom mask style 7 -->
</div>
<!--/ Slideshow - Static content + bottom mask style 7 and scrollme effect-->

<!-- Services section -->
<section class="hg_section bg-white pt-50 pb-100">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1 mb-40">
        <!-- Kallyas icon -->
        <!-- Title style 2 -->
        <div class="kl-title-block clearfix text-center pb-20">
          <h1 class="tbk__title montserrat fs-26 fw-normal dark-gray mb-20">EXACTLY! Multi-platform Web & App Development</h1>
          <h2 class="tbk__subtitle fw-thin"><span class="fw-semibold">Bitpulse Technologies</span> is a multi-featured website and app development company, focused on designing, developing and testing websites and apps for multiple devices like smart phones, iPads, Laptops, desktops as well as platforms such as android, iOS, windows.</h2>
        </div>
        <!--/ Title style 2 -->

        <div class="hg_separator"></div>
      </div>
      <!--/ col-md-10 col-md-offset-1 -->

      <div class="col-md-6">
        <div class="text-right mb-80 mb-xs-40 clearfix">
          <!-- Icon wrapper -->
          <div class="kl-iconbox__icon-wrapper ml-xs-0 text-center-xs">
            <img class="kl-iconbox__icon agency-icons pull-right pull-none-xs" src="../../assets/images/set-03-03.svg" alt="Iconic Awarded Design">
          </div>
          <!--/ Icon wrapper -->

          <!-- Title -->
          <h3 class="fs-l fw-bold text-center-xs">Modern and effectively coded</h3>

          <!-- Description -->
          <p class="text-gray text-center-xs">When it comes to development, using latest standards and most modern tools, we’ve developed a healthy workflow which makes us code using the best practices principles.</p>
        </div>
        <!--/ text-right mr-20 mr-xs-0 mb-80 mb-xs-40 clearfix -->
      </div>
      <!--/ col-md-6 -->

      <div class="col-md-6">
        <div class="mb-80 mb-xs-40 clearfix">
          <!-- Icon wrapper -->
          <div class="kl-iconbox__icon-wrapper ml-xs-0 text-center-xs">
            <img class="kl-iconbox__icon agency-icons pull-left pull-none-xs" src="../../assets/images/set-03-02.svg" alt="Iconic Awarded Design">
          </div>
          <!--/ Icon wrapper -->

          <!-- Title -->
          <h3 class="fs-l fw-bold text-center-xs">Making is safe</h3>

          <!-- Description -->
          <p class="text-gray text-center-xs">We're too much focused about the user experience and security. We deliver the websites and apps after doing its functional and security testing.</p>
        </div>
        <!--/ ml-20 mb-80 ml-xs-0 mb-xs-40 clearfix -->
      </div>
      <!--/ col-md-6 -->

      <div class="col-md-6">
        <div class="text-right mb-80 mb-xs-40 clearfix">
          <!-- Icon wrapper -->
          <div class="kl-iconbox__icon-wrapper ml-xs-0 text-center-xs">
            <img class="kl-iconbox__icon agency-icons pull-right pull-none-xs" src="../../assets/images/set-03-04.svg" alt="Iconic Awarded Design">
          </div>
          <!--/ Icon wrapper -->

          <!-- Title -->
          <h3 class="fs-l fw-bold text-center-xs">Help when in need</h3>

          <!-- Description -->
          <p class="text-gray text-center-xs">Wether you’re an expert or a beginner, our support team will do its best to provide the best possible and helpful answer for the issues you’re having.</p>
        </div>
        <!--/ text-right mr-20 mr-xs-0 mb-80 mb-xs-40 clearfix -->
      </div>
      <!--/ col-md-6 -->

      <div class="col-md-6">
        <div class="mb-80 mb-xs-40 clearfix">
          <!-- Icon wrapper -->
          <div class="kl-iconbox__icon-wrapper ml-xs-0 text-center-xs">
            <img class="kl-iconbox__icon agency-icons pull-left pull-none-xs p-20" src="../../assets/images/set-03-01.svg" alt="Iconic Awarded Design">
          </div>
          <!--/ Icon wrapper -->

          <!-- Title -->
          <h3 class="fs-l fw-bold text-center-xs">Performance oriented</h3>

          <!-- Description -->
          <p class="text-gray text-center-xs">Every line of code was written in such way so it would work smooth no matter the way you combine it in. This sometimes delivers a high density of consumption.</p>
        </div>
        <!--/ text-right mr-20 mr-xs-0 mb-80 mb-xs-40 clearfix -->
      </div>
      <!--/ col-md-6 -->
    </div>
    <!--/ row -->
  </div>
  <!--/ container -->
</section>
<!--/ Services section -->

<!-- Video background + text section -->
<section class="hg_section--relative pt-100 pb-100">
  <!-- Video Background -->
  <div class="kl-bg-source">
    <!-- Video background container -->
    <div class="kl-video-container kl-bg-source__video">
      <!-- Video wrapper -->
      <div class="kl-video-wrapper video-grid-overlay">
        <!-- Self Hosted Video Source -->
        <div class="kl-video valign halign" data-setup='{
							"position": "absolute",
							"loop": true,
							"autoplay": true,
							"muted": true,
							"mp4": "../../assets/videos/whiteboard.mp4",
							"poster": "../../assets/videos/whiteboard.jpg",
							"video_ratio": "1.7778" }'>
        </div>
        <!-- Self Hosted Video Source -->
      </div>
      <!--/ Video wrapper -->
    </div>
    <!--/ Video background container (.kl-bg-source__video) -->

    <!-- Gradient overlay -->
    <div class="kl-bg-source__overlay second-sec">
    </div>
    <!--/ Gradient overlay -->
  </div>
  <!--/ Video Background -->

  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="text-center">
          <h4 class="fs-xxl fw-thin text-white mb-20">Ok, ok so <em>why</em> our websites & apps</h4>
          <h5 class="fs-l fw-thin mb-80 text-white opacity7">Well here are a few reasons</h5>
        </div><!-- /.text-center text-white -->
      </div>
      <!-- /.col-md-12 -->

      <div class="col-md-4">
        <div class="icon-box stg-alignleft text-center-xs mb-60">
          <i class="kl-icon glyphicon glyphicon-share-alt icon-size-xxs custom-color hidden-xs"></i>
          <h4 class="fs-xl text-white mb-20">STABLE & MATURE</h4>
          <div class="content text-white opacity9">
            <p>In time, gathering awesome feedback from our customers, our projects have become iconic projects that spread all over the web.</p>
          </div>
          <!-- /.content -->
        </div>
        <!-- /.icon-box stg-alignleft mb-50 -->
      </div>
      <!-- /.col-md-4 -->

      <div class="col-md-4">
        <div class="icon-box stg-alignleft text-center-xs mb-60">
          <i class="kl-icon glyphicon glyphicon-share-alt icon-size-xxs custom-color hidden-xs"></i>
          <h4 class="fs-xl text-white mb-20">RICH FEATURED</h4>
          <div class="content text-white opacity9">
            <p>Every item is packed with all sorts of goodies that can be used in so many ways. When our customers access our demos, their imagination starts exploding with ideas.</p>
          </div>
          <!-- /.content -->
        </div>
        <!-- /.icon-box stg-alignleft mb-50 -->
      </div>
      <!-- /.col-md-4 -->

      <div class="col-md-4">
        <div class="icon-box stg-alignleft text-center-xs mb-60">
          <i class="kl-icon glyphicon glyphicon-share-alt icon-size-xxs custom-color hidden-xs"></i>
          <h4 class="fs-xl text-white mb-20">BUILT TO BE USED</h4>
          <div class="content text-white opacity9">
            <p>Our philosophy is to always build stuff that people use. As useful it can get, the better. We simply don't want to be just present on the market.</p>
          </div>
          <!-- /.content -->
        </div>
        <!-- /.icon-box stg-alignleft mb-50 -->
      </div>
      <!-- /.col-md-4 -->

      <div class="col-md-12">
        <div class="text-center text-white">
          <span class="fs-xmall fw-thin opacity7">But the most important factor is that</span>
          <h3 class="fs-xxl fw-normal text-white">Bitpulse Technologies is just offering <strong>great deals</strong></h3>
          <p>With all available services and what will be added in the future as well.<br>
            We are confident that we're offering the best deals possible.</p>
        </div><!-- /.text-center text-white -->
      </div>
      <!-- /.col-md-12 -->
    </div>
    <!--/ row -->
  </div>
  <!--/ container -->
</section>
<!--/ Video background + text section -->

<!-- Process section (Steps boxes #2 element) with custom bottom padding -->
<section class="hg_section pbottom-80">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <!-- Title -->
        <h3 class="m_title">OUR WORKING PROCESS</h3>
        <!--/ Title -->
      </div>
      <!--/ col-sm-12 -->

      <div class="col-sm-12">
        <div class="row gutter-md">
          <div class="col-sm-4">
            <!-- Stepx box element #2 (First Go box) -->
            <div class="gobox gobox-first ">
              <!-- Content -->
              <div class="gobox-content">
                <!-- Title -->
                <h4>Planning &amp; Strategy</h4>
                <!--/ Title -->

                <!-- Link -->
                <a class="step_link" routerLink="/work-process"></a>
                <!--/ Link -->

                <!-- Description -->
                <p>
                  Appropriately productive distributed infrastructures for one-to-one expertise.
                </p>
                <!--/ Description -->
              </div>
              <!--/ Content -->
            </div>
            <!--/ Stepx box element #2 (First Go box) -->
          </div>
          <!--/ col-sm-4 -->

          <div class="col-sm-4">
            <!-- Stepx box #2 (Second Go box) -->
            <div class="gobox ">
              <!-- Content -->
              <div class="gobox-content">
                <!-- Title -->
                <h4>Design &amp; Develop</h4>
                <!--/ Title -->

                <!-- Link -->
                <a class="step_link" routerLink="/work-process"></a>
                <!--/ Link -->

                <!-- Description -->
                <p>
                  Credibly develop cross functional "organic" sources vis-a-vis magnetic e-services.
                </p>
                <!--/ Description -->
              </div>
              <!--/ Content -->
            </div>
            <!--/ Stepx box #2 (Second Go box) -->
          </div>
          <!--/ col-sm-4 -->

          <div class="col-sm-4">
            <!-- Stepx box #2 (Last Go box) -->
            <div class="gobox ok gobox-last">
              <!-- Icon = .glyphicon-ok-circle -->
              <span class="glyphicon glyphicon-ok-circle"></span>
              <!--/ Icon = .glyphicon-ok-circle -->

              <!-- Content -->
              <div class="gobox-content">
                <!-- Title -->
                <h4>Test &amp; Deliver</h4>
                <!--/ Title -->

                <!-- Link -->
                <a class="step_link" routerLink="/work-process"></a>
                <!--/ Link -->

                <!-- Description -->
                <p>
                  Ensure the quality checks and deliver the professional product.
                </p>
                <!--/ Description -->
              </div>
              <!--/ Content -->
            </div>
            <!--/ Stepx box #2 (Last Go box) -->
          </div>
          <!--/ col-sm-4 -->
        </div>
        <!--/ row gutter-md -->
      </div>
      <!--/ col-sm-12 -->
    </div>
    <!--/ row -->
  </div>
  <!--/ container -->
</section>
<!--/ Process section (Steps boxes #2 element) with custom bottom padding -->

<!-- Colored section with hover icons -->
<section class="colored-area pt-200 pb-200 cms-icon-section">
  <!-- Cms icon container -->
  <div class="cms-icon-container">
    <i class="kl-icon icon-github-circled hovered" id="cms-icon-github-circled"></i>
  </div>
  <!--/ .cms-icon-container -->

  <div class="container">
    <div class="ts-pt-partners ts-pt-partners--y-title clearfix">
      <!-- Title -->
      <div class="ts-pt-partners__title">
        TECHNOLOGIES,<br /> TOOLS & FRAMEWORKS
      </div>
      <!--/ Title -->

      <!-- Partners carousel wrapper -->
      <div class="ts-pt-partners__carousel-wrapper">
        <div class="ts-pt-partners__carousel">
          <!-- Item #1 -->
          <div class="ts-pt-partners__carousel-item">
            <!-- Partner image link -->

            <!-- Image -->
            <img class="ts-pt-partners__img" src="../../assets/images/Angular.png" alt="Angular" title="Angular" />
            <!--/ Image -->

            <!--/ Partner image link -->
          </div>
          <!--/ Item #1 -->

          <!-- Item #2 -->
          <div class="ts-pt-partners__carousel-item">
            <!-- Image -->
            <img class="ts-pt-partners__img" src="../../assets/images/Firebase.png" alt="Firebase" title="Firebase" />
            <!--/ Image -->
          </div>
          <!--/ Item #2 -->

          <!-- Item #3 -->
          <div class="ts-pt-partners__carousel-item">
            <!-- Image -->
            <img class="ts-pt-partners__img" src="../../assets/images/Cordova.png" alt="Cordova" title="Cordova" />
            <!--/ Image -->
          </div>
          <!--/ Item #3 -->

          <!-- Item #4 -->
          <div class="ts-pt-partners__carousel-item">
            <!-- Image -->
            <img class="ts-pt-partners__img" src="../../assets/images/AWS.png" alt="AWS" title="AWS" />
            <!--/ Image -->
          </div>
          <!--/ Item #4 -->

          <!-- Item #5 -->
          <div class="ts-pt-partners__carousel-item">
            <!-- Image -->
            <img class="ts-pt-partners__img" src="../../assets/images/Laravel.png" alt="Laravel" title="Laravel" />
            <!--/ Image -->
          </div>
          <!--/ Item #5 -->

          <!-- Item #6 -->
          <div class="ts-pt-partners__carousel-item">
            <!-- Image -->
            <img class="ts-pt-partners__img" src="../../assets/images/CodeIgniter.png" alt="CodeIgniter" title="CodeIgniter" />
            <!--/ Image -->
          </div>
          <!--/ Item #6 -->

          <!-- Item #7 -->
          <div class="ts-pt-partners__carousel-item">
            <!-- Image -->
            <img class="ts-pt-partners__img" src="../../assets/images/Phpstorm.png" alt="Phpstorm" title="Phpstorm" />
            <!--/ Image -->
          </div>
          <!--/ Item #7 -->

          <!-- Item  #8-->
          <div class="ts-pt-partners__carousel-item">
            <!-- Image -->
            <img class="ts-pt-partners__img" src="../../assets/images/Mysql.png" alt="Mysql" title="Mysql" />
            <!--/ Image -->
          </div>
          <!--/ Item #8 -->
          <!-- Item  #8-->
          <div class="ts-pt-partners__carousel-item">
            <!-- Image -->
            <img class="ts-pt-partners__img" src="../../assets/images/Kali-linux.png" alt="Kali linux" title="Kali linux" />
            <!--/ Image -->
          </div>
          <!--/ Item #8 -->
          <!-- Item  #8-->
          <div class="ts-pt-partners__carousel-item">
            <!-- Image -->
            <img class="ts-pt-partners__img" src="../../assets/images/Metasploit.png" alt="Metasploit" title="Metasploit" />
            <!--/ Image -->
          </div>
          <!--/ Item #8 -->
          <!-- Item  #8-->
          <div class="ts-pt-partners__carousel-item">
            <!-- Image -->
            <img class="ts-pt-partners__img" src="../../assets/images/Burpsuit.png" alt="Burpsuit" title="Burpsuit" />
            <!--/ Image -->
          </div>
          <!--/ Item #8 -->
          <!-- Item  #8-->
          <div class="ts-pt-partners__carousel-item">
            <!-- Image -->
            <img class="ts-pt-partners__img" src="../../assets/images/Santoku.png" alt="Santoku" title="Santoku" />
            <!--/ Image -->
          </div>
          <!--/ Item #8 -->
        </div>
        <!--/ .ts-pt-partners__carousel -->
      </div>
      <!--/ Partners carousel wrapper -->
    </div>
    <!--/ .col-md-12 -->
  </div>
  <!--/ .container -->
</section>
<!--/ Colored section with hover icons -->

<!-- Process section (Statistics element) with custom top padding -->
<section id="process" class="hg_section ptop-100">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12">
        <!-- Statistics element - normal placement & light box style -->
        <div class="statistic-box__container statistic-box--stl-style1 statistic-box--dark">
          <!-- Statistic box #1 -->
          <div class="statistic-box">
            <!-- Icon wrapper -->
            <div class="statistic-box__icon-holder">
              <!-- Icon = .icon-noun_65754 -->
              <span class="statistic-box__icon icon-noun_65754"></span>
            </div>
            <!-- Icon wrapper -->

            <!-- Line -->
            <div class="statistic-box__line">
            </div>
            <!--/ Line -->

            <!-- Details -->
            <div class="statistic-box__details">
              <!-- Title -->
              <h4 class="statistic-box__title">25000+</h4>
              <!--/ Title -->

              <!-- Content -->
              <div class="statistic-box__content">
                CODE LINES THIS MONTH
              </div>
              <!--/ Content -->
            </div>
            <!--/ Details -->
          </div>
          <!--/ Statistic box #1 -->

          <!-- Statistic box #2 -->
          <div class="statistic-box">
            <!-- Icon wrapper -->
            <div class="statistic-box__icon-holder">
              <!-- Icon = .icon-noun_61152 -->
              <span class="statistic-box__icon icon-noun_61152"></span>
            </div>
            <!-- Icon wrapper -->

            <!-- Line -->
            <div class="statistic-box__line">
            </div>
            <!--/ Line -->

            <!-- Details -->
            <div class="statistic-box__details">
              <!-- Title -->
              <h4 class="statistic-box__title">50+</h4>
              <!--/ Title -->

              <!-- Content -->
              <div class="statistic-box__content">
                LAUNCHED PROJECTS
              </div>
              <!--/ Content -->
            </div>
            <!--/ Details -->
          </div>
          <!--/ Statistic box #2 -->

          <!-- Statistic box #3 -->
          <div class="statistic-box">
            <!-- Icon wrapper -->
            <div class="statistic-box__icon-holder">
              <!-- Icon = .icon-gi-ico-10 -->
              <span class="statistic-box__icon icon-gi-ico-10"></span>
            </div>
            <!-- Icon wrapper -->

            <!-- Line -->
            <div class="statistic-box__line">
            </div>
            <!--/ Line -->

            <!-- Details -->
            <div class="statistic-box__details">
              <!-- Title -->
              <h4 class="statistic-box__title">1000+</h4>
              <!--/ Title -->

              <!-- Content -->
              <div class="statistic-box__content">
                COFFEE CUPS THIS YEAR
              </div>
              <!--/ Content -->
            </div>
            <!--/ Details -->
          </div>
          <!--/ Statistic box #3 -->

          <!-- Statistic box #4 -->
          <div class="statistic-box">
            <!-- Icon wrapper -->
            <div class="statistic-box__icon-holder">
              <!-- Icon = .icon-noun_167805 -->
              <span class="statistic-box__icon icon-noun_167805"></span>
            </div>
            <!-- Icon wrapper -->

            <!-- Line -->
            <div class="statistic-box__line">
            </div>
            <!--/ Line -->

            <!-- Details -->
            <div class="statistic-box__details">
              <!-- Title -->
              <h4 class="statistic-box__title">100+</h4>
              <!--/ Title -->

              <!-- Content -->
              <div class="statistic-box__content">
                HAPPY CLIENTS
              </div>
              <!--/ Content -->
            </div>
            <!--/ Details -->
          </div>
          <!--/ Statistic box #4 -->
        </div>
        <!--/ Statistics element - normal placement & light box style -->
      </div>
      <!--/ col-md-12 col-sm-12 -->
    </div>
    <!--/ row -->
  </div>
  <!--/ container -->
</section>
<!--/ Process section (Statistics element) with custom top padding -->
<app-foot-text [FootText]="FooterText"></app-foot-text>
